body {
	background-color: #ffd800 !important;
	margin-top: 20px;
	background-image: url('../assets/img/pattern-dots-tiny.svg');
	background-repeat: repeat;
	background-size: 4px;
}

img {
	width: 300px;
	height: auto;
}

h1.text-center.text-danger {
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
}

a.giphy {
	color: #eead10 !important;
	text-decoration: none !important;
}